<!doctype html>
<html>
    <head>
        <center><title>{{title}}</title></center>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
	----------------------------------------------------------------------------------------------------------------
	<center><h1>NAVIGATION:: <a href="/">- HOMEPAGE</a> - <a href="/history">HISTORY -</a></h1></center>
	----------------------------------------------------------------------------------------------------------------
  
	<br />
    <body>
        {% block thebody %}
        {% endblock %}
    </body>
	<br />
    <p>
	----------------------------------------------------------------------------------------------------------------
	<center>Developed by <a href="http://sledro.com" target="_BLANK">Sledro Technologies</a></center>
    </p> 
</html>
